parameters:
	ignoreErrors:
		-
			message: "#^Method Saloon\\\\Contracts\\\\MockClient\\:\\:addResponses\\(\\) has parameter \\$responses with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Contracts/MockClient.php

		-
			message: "#^Method Saloon\\\\Contracts\\\\MockClient\\:\\:assertSentJson\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Contracts/MockClient.php

		-
			message: "#^Method Saloon\\\\Contracts\\\\MockClient\\:\\:getRecordedResponses\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Contracts/MockClient.php

		-
			message: "#^Parameter \\#1 \\$interval of method DateTime\\:\\:add\\(\\) expects DateInterval, DateInterval\\|false given\\.$#"
			count: 1
			path: src/Helpers/Date.php

		-
			message: "#^Parameter \\#1 \\$interval of method DateTime\\:\\:sub\\(\\) expects DateInterval, DateInterval\\|false given\\.$#"
			count: 1
			path: src/Helpers/Date.php

		-
			message: "#^Parameter \\#1 \\$ of callable callable\\(TRequest of Saloon\\\\Contracts\\\\PendingRequest\\)\\: Saloon\\\\Contracts\\\\SimulatedResponsePayload\\|\\(TRequest of Saloon\\\\Contracts\\\\PendingRequest\\)\\|void expects TRequest of Saloon\\\\Contracts\\\\PendingRequest, Saloon\\\\Contracts\\\\PendingRequest given\\.$#"
			count: 1
			path: src/Helpers/MiddlewarePipeline.php

		-
			message: "#^Parameter \\#1 \\$ of callable callable\\(TResponse of Saloon\\\\Contracts\\\\Response\\)\\: \\(TResponse of Saloon\\\\Contracts\\\\Response\\)\\|void expects TResponse of Saloon\\\\Contracts\\\\Response, Saloon\\\\Contracts\\\\Response given\\.$#"
			count: 1
			path: src/Helpers/MiddlewarePipeline.php

		-
			message: "#^Method Saloon\\\\Http\\\\Connector\\:\\:defaultSender\\(\\) should return Saloon\\\\Contracts\\\\Sender but returns object\\.$#"
			count: 1
			path: src/Http/Connector.php

		-
			message: "#^Parameter \\#1 \\$contents of static method Saloon\\\\Data\\\\RecordedResponse\\:\\:fromFile\\(\\) expects string, bool\\|string given\\.$#"
			count: 1
			path: src/Http/Faking/Fixture.php

		-
			message: "#^Method Saloon\\\\Http\\\\Faking\\\\MockClient\\:\\:__construct\\(\\) has parameter \\$mockData with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Http/Faking/MockClient.php

		-
			message: "#^Method Saloon\\\\Http\\\\Faking\\\\MockClient\\:\\:addResponses\\(\\) has parameter \\$responses with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Http/Faking/MockClient.php

		-
			message: "#^Method Saloon\\\\Http\\\\Faking\\\\MockClient\\:\\:assertSentJson\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Http/Faking/MockClient.php

		-
			message: "#^Method Saloon\\\\Http\\\\Faking\\\\MockClient\\:\\:getRecordedResponses\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Http/Faking/MockClient.php

		-
			message: "#^PHPDoc tag @return with type Saloon\\\\Contracts\\\\Request\\|null is not subtype of native type Saloon\\\\Contracts\\\\PendingRequest\\|null\\.$#"
			count: 1
			path: src/Http/Faking/MockClient.php

		-
			message: "#^PHPDoc tag @throws with type ReflectionException\\|Sammyjo20\\\\Saloon\\\\Exceptions\\\\SaloonInvalidConnectorException is not subtype of Throwable$#"
			count: 5
			path: src/Http/Faking/MockClient.php

		-
			message: "#^PHPDoc tag @throws with type Saloon\\\\Exceptions\\\\NoMockResponseFoundException\\|Sammyjo20\\\\Saloon\\\\Exceptions\\\\SaloonInvalidConnectorException is not subtype of Throwable$#"
			count: 1
			path: src/Http/Faking/MockClient.php

		-
			message: "#^PHPDoc tag @throws with type Sammyjo20\\\\Saloon\\\\Exceptions\\\\SaloonInvalidConnectorException is not subtype of Throwable$#"
			count: 1
			path: src/Http/Faking/MockClient.php

		-
			message: "#^Property Saloon\\\\Http\\\\Faking\\\\MockClient\\:\\:\\$connectorResponses type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Http/Faking/MockClient.php

		-
			message: "#^Property Saloon\\\\Http\\\\Faking\\\\MockClient\\:\\:\\$recordedResponses type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Http/Faking/MockClient.php

		-
			message: "#^Property Saloon\\\\Http\\\\Faking\\\\MockClient\\:\\:\\$requestResponses type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Http/Faking/MockClient.php

		-
			message: "#^Property Saloon\\\\Http\\\\Faking\\\\MockClient\\:\\:\\$sequenceResponses type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Http/Faking/MockClient.php

		-
			message: "#^Property Saloon\\\\Http\\\\Faking\\\\MockClient\\:\\:\\$urlResponses type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Http/Faking/MockClient.php

		-
			message: "#^Method Saloon\\\\Http\\\\PendingRequest\\:\\:send\\(\\) should return Saloon\\\\Contracts\\\\Response but returns GuzzleHttp\\\\Promise\\\\PromiseInterface\\|Saloon\\\\Contracts\\\\Response\\.$#"
			count: 1
			path: src/Http/PendingRequest.php

		-
			message: "#^Method Saloon\\\\Http\\\\PendingRequest\\:\\:sendAsync\\(\\) should return GuzzleHttp\\\\Promise\\\\PromiseInterface but returns GuzzleHttp\\\\Promise\\\\PromiseInterface\\|Saloon\\\\Contracts\\\\Response\\.$#"
			count: 1
			path: src/Http/PendingRequest.php

		-
			message: "#^Method Saloon\\\\Http\\\\Response\\:\\:__call\\(\\) has parameter \\$parameters with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Http/Response.php

		-
			message: "#^Method Saloon\\\\Http\\\\Response\\:\\:__callStatic\\(\\) has parameter \\$parameters with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Http/Response.php

		-
			message: "#^Parameter \\#1 \\$object of method ReflectionMethod\\:\\:invoke\\(\\) expects object\\|null, object\\|string given\\.$#"
			count: 1
			path: src/Http/Response.php

		-
			message: "#^Parameter \\#1 \\$objectOrClass of class ReflectionClass constructor expects class\\-string\\<T of object\\>\\|T of object, object\\|string given\\.$#"
			count: 1
			path: src/Http/Response.php

		-
			message: "#^Property Saloon\\\\Http\\\\Response\\:\\:\\$macros type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Http/Response.php

		-
			message: "#^Method Saloon\\\\Http\\\\Senders\\\\GuzzleSender\\:\\:createRequestOptions\\(\\) should return array\\<'allow_redirects'\\|'auth'\\|'body'\\|'cert'\\|'connect_timeout'\\|'cookies'\\|'debug'\\|'decode_content'\\|'delay'\\|'expect'\\|'force_ip_resolve'\\|'form_params'\\|'headers'\\|'http_errors'\\|'idn_conversion'\\|'json'\\|'multipart'\\|'on_headers'\\|'on_stats'\\|'progress'\\|'proxy'\\|'query'\\|'read_timeout'\\|'sink'\\|'ssl_key'\\|'stream'\\|'synchronous'\\|'timeout'\\|'verify'\\|'version', mixed\\> but returns array\\<string, mixed\\>\\.$#"
			count: 2
			path: src/Http/Senders/GuzzleSender.php
