parameters:
	ignoreErrors:
		-
			message: "#^Method Saloon\\\\Http\\\\Connector\\:\\:defaultSender\\(\\) should return Saloon\\\\Contracts\\\\Sender but returns object\\.$#"
			count: 1
			path: src/Http/Connector.php

		-
			message: "#^Parameter \\#1 \\$contents of static method Saloon\\\\Data\\\\RecordedResponse\\:\\:fromFile\\(\\) expects string, bool\\|string given\\.$#"
			count: 1
			path: src/Http/Faking/Fixture.php

		-
			message: "#^Method Saloon\\\\Http\\\\Faking\\\\MockClient\\:\\:getLastResponse\\(\\) should return Saloon\\\\Http\\\\Response\\|null but returns \\(callable\\)\\|Saloon\\\\Http\\\\Faking\\\\Fixture\\|Saloon\\\\Http\\\\Faking\\\\MockResponse\\.$#"
			count: 1
			path: src/Http/Faking/MockClient.php

		-
			message: "#^Method Saloon\\\\Http\\\\Faking\\\\MockClient\\:\\:getRecordedResponses\\(\\) should return array\\<Saloon\\\\Http\\\\Response\\> but returns array\\<\\(callable\\)\\|Saloon\\\\Http\\\\Faking\\\\Fixture\\|Saloon\\\\Http\\\\Faking\\\\MockResponse\\>\\.$#"
			count: 1
			path: src/Http/Faking/MockClient.php

		-
		 message: "#^Parameter \\#1 \\$response of method Saloon\\\\Http\\\\PendingRequest\\:\\:executeResponsePipeline\\(\\) expects Saloon\\\\Http\\\\Response\\, GuzzleHttp\\\\Promise\\\\PromiseInterface\\|Saloon\\\\Http\\\\Response given.$#"
		 count: 1
		 path: src/Traits/Connector/SendsRequests.php

		-
		 message: "#^Call to an undefined method GuzzleHttp\\\\Promise\\\\PromiseInterface\\|Saloon\\\\Http\\\\Response\\:\\:then\\(\\).$#"
		 count: 1
		 path: src/Traits/Connector/SendsRequests.php

		-
		 message: "#^Property Saloon\\\\Http\\\\Faking\\\\MockClient::$recordedResponses (array<(callable():mixed)|Saloon\\\\Http\\\\Faking\\\\Fixture|Saloon\\\\Http\\\\Faking\\\\MockResponse>) does not accept non-empty-array<(callable():mixed)|Saloon\\\\Http\\\\Faking\\\\Fixture|Saloon\\\\Http\\\\Faking\\\\MockResponse|Saloon\\\\Http\\\\Response>.$#"
		 count: 1
		 path: src/Http/Faking/MockClient.php

		-
		 message: "#^Parameter \\#1 \\$object of method ReflectionMethod\\:\\:invoke\\(\\) expects object\\|null, class-string\\|object given.$#"
		 count: 2
		 path: src/Traits/Macroable.php

		-
		 message: "#^Parameter \\#1 \\$callback of function call_user_func_array expects callable\\(\\)\\: mixed, \\(callable\\(\\)\\: mixed\\)\\|object given.$#"
		 count: 4
		 path: src/Traits/Macroable.php

		-
		 message: "#^Match arm is unreachable because previous comparison is always true.$#"
		 count: 1
		 path: src/Http/Pool.php
